.country{
    border: 2px solid tomato;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
}

.btn{
    background-color: blueviolet;
    color: white;
    margin-right: 5px;
}

.country-visited{
    background-color: cornsilk;
}